.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*
**/android/key.properties
*.jks
*.keystore
ios/
.idea/
*.iml
.vscode/
*.swp
*.swo
.DS_Store
*.log
