name: capture_lite
description: Simple text capture app for beginners
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  path_provider: ^2.1.1
  shared_preferences: ^2.2.2
  share_plus: ^7.2.1
  receive_sharing_intent: ^1.4.5
  intl: ^0.18.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
